<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TempTesteSmartUpdate.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TempTesteSmartUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <TempTesteSmartUpdate.Settings>
            <setting name="ConexaoLocal" serializeAs="String">
                <value>Host=localhost;Username=postgres;Password=yu45thn@;Database=smart</value>
            </setting>
            <setting name="ConexaoRemota" serializeAs="String">
                <value>hostaddr=127.0.0.1 port=5433 dbname=smt user=postgres password=yu45thn@</value>
            </setting>
            <setting name="MoradoresLimiteDownload" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExecutarAtualizacaoAoIniciar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoradoresProcedimentoDownload" serializeAs="String">
                <value>atualizarcadastros_moradores</value>
            </setting>
            <setting name="VeiculosLimiteDownload" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VeiculosProcedimentoDownload" serializeAs="String">
                <value>atualizarcadastros_veiculos</value>
            </setting>
            <setting name="MoradoresIntervaloDownload" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="VeiculosIntervaloDownload" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="UploadIntervalo" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="UploadProcedimento" serializeAs="String">
                <value>atualizarpassagens</value>
            </setting>
            <setting name="UploadLimiteTransferencia" serializeAs="String">
                <value>0</value>
            </setting>
        </TempTesteSmartUpdate.Settings>
        <TempTesteSmartUpdate.Properties.Settings>
            <setting name="teste" serializeAs="String">
                <value>1</value>
            </setting>
        </TempTesteSmartUpdate.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
